:root {
    --color-1: rgb(4, 53, 101); /*primary*/
    --color-2: rgb(228, 237, 238);
    --color-3: rgb(255, 255, 255);
    --color-4: rgb(175, 60, 7);
    --color-5: rgb(110, 4, 13);
    --color-6: rgb(230, 230, 230);
    --color-7: rgba(85, 85, 85, .85);
    --bs-nav-link-font-size: 1.65rem;
    --navbar-active-color: rgba(29, 29, 29, 0.9);
    --bs-navbar-active-color: rgba(var(--navbar-active-color), 1);
}

/* -------- TEMP ---------- */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 280px;
    background-color: var(--color-1 );
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* -------- BASIC -------- */
body {background-image: url("../media/texture.webp");
}

p a, table a {color: var(--color-4);
    text-decoration: none;
    font-weight: 700;
}

p, ul, ol, table {font-size: 18px;
    line-height: 150%;
}

main {margin: 80px 0;}

.jumbotron {margin: 50px 0;
    background-color: var(--color-2);
}

.hero {width: 100%;
    height: 65vh;
    margin-bottom: 100px;
    background-image: url("../media/homepage2.jpg");
    opacity: 1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-overlay {width: 100%;
    height: 65vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(4, 53, 101, .5));
    opacity: 1;
    background-blend-mode: multiply;

}

.hero h1 {color: var(--color-3);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    max-width: 600px;
    line-height: 120%;
    text-shadow: 2px 2px 5px rgba(85, 85, 85, .75);

}

.hero .lead {color: var(--color-1);
    font-size: 2.75rem !important;
    font-style: italic;
    font-weight: 500 !important;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .25);
}

.single-hero {width: 100%;
    height: 39vh;
    margin-bottom: 100px;
    opacity: 1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.single-hero h1 {color: var(--color-3);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    max-width: 600px;
    line-height: 120%;
    text-shadow: 2px 2px 5px rgba(85, 85, 85, .75);

}
/* .lead-word {text-decoration: underline;
    font-style: italic;
} */

.headline {color: var(--color-1);
    text-align: center;
}

h1, h2, h3, h4, h5 {font-family: 'Roboto Slab', serif;
    padding: 30px 0 10px;
}

.lead {color: var(--color-4);
    font-size: 2.5rem !important;
    font-style: italic;
    font-weight: 400 !important;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(85, 85, 85, .25);
}

/* -------- BUTTONS -------- */
.btn-primary {background-color: var(--color-4) !important;
    margin: 20px 0 30px;
    padding: 12px 18px !important;
    border: none !important;
    font-family: "Roboto", sans-serif;
    font-size: 19px !important;
    font-weight: 600 !important;
    font-style: normal;
    letter-spacing: .5px;
    border-radius: 25px !important;
}

.btn-primary:hover {background-color: var(--color-5) !important;}

.btn-primary a {text-decoration: none;
    color: var(--color-6);
}

.btn-primary a:hover {color: var(--color-3) !important;}

/* -------- FORMS -------- */
.form-check-input:checked, .form-check-input:active {
    background-color: var(--color-4) !important;
    border-color: var(--color-4) !important;
}

form .form-control:focus {border-color: var(--color-4)!important;
    box-shadow: 0 0 0 .25rem rgba(175, 60, 7, 0.55);
}

/* -------- NAVIGATION -------- */
.navbar {padding: 25px 0 !important;
    box-shadow: 0px 4px 8px var(--color-2);
}

.navbar-brand {width: 290px !important;}

.navbar-nav li a {color: var(--color-7);
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: var(--bs-nav-link-font-size);
}

.nav-item {padding-left: 15px;}

.nav-item li:nth-child(1) {padding-left: 0;}

.navbar-stacked {
    flex-direction: column;
}

.navbar a, .navbar a:active {color: var(--color-4);}

.secondary-nav {font-size: .98rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    margin-left: auto !important;
}

.secondary-nav a {text-decoration: none;
    color: var(--color-4);
    padding: 10px;
    border-radius: 25px
}

/* -------- HOME CAROUSEL -------- */
.home-carousel:before {
    content: "";
    animation: 15s swap infinite;
    animation-timing-function: linear;
    font-weight: 600;
    color: var(--color-1);
}

@keyframes swap {
    0% {
        content: "Affordable Healthcare";
    }

    33% {
        content: "Nationwide Coverage";
    }

    66% {
        content: "Friendly Service";
    }

    100% {
        content: "Affordable Healthcare";
    }
}

/* -------- PLANS -------- */
.h-link {text-decoration: underline;
    color: var(--color-1);
}

.h-link:hover {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
}
.plans {background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
    border: solid 1px var(--color-2);
}

.plans:hover {background-color: rgba(255, 255, 255, 1);
    transition: 250ms ease-in;
    border: solid 1px var(--color-1);
}

/* -------- SIDE COLUMN -------- */
.side-column, .wellness-sd {border: solid 3px var(--color-1);
    height: auto;                       
    border-radius: 18px;
    background-color: var(--color-3);
    padding: 0 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-column-list li, .wellness-sd-list li {margin-bottom: 12px;
    margin-left: -25px;
    list-style-type: none !important;
}

.side-column-list a, .wellness-sd-list a {text-decoration: none;
    color: var(--color-4);
    font-weight: 500;
}

.side-column-list a:hover, .wellness-sd-list a:hover {color: var(--color-5)}

/* -------- AGENT CALL TO ACTION -------- */
.agent-cto {border: solid 3px var(--color-3);
    border-radius: 18px;
    background-color: var(--color-2);
    text-align: center;
    height: auto;
    padding: 0 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.agent-cto-header {color: var(--color-1);
    border-bottom: 2px solid var(--color-1);
    width: 75%;
    margin: 0 auto 25px auto;

}

/* -------- CTO Image -------- */
.img-cto {max-width: 100%;
    height: 460px !important;
    background-image: url('../media/CTO-image.jpg');
    opacity: 1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------- Index CTO Image -------- */
.index-cto {max-width: 100%;
    height: 480px !important;
    background-image: url('../media/bike_riders.jpg');
    opacity: 1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------- CONTACT FORM -------- */
#contactForm label {font-weight: 600;
    color: var(--color-1);
}

.alert-success {background-color: var(--color-2);}

/* -------- FOOTER -------- */
.footer {padding-top: 40px;
    margin-top: 40px;
}

.footer-nav {list-style-type: none;
    padding: 20px 0 !important;
}

.footer-nav a {text-decoration: none;
    color: var(--color-1);
    font-weight: 500;
    margin: 0 10px 0;
}

.footer-nav a:hover {color: var(--color-5);}

/* -------- PRIVACY POLICY PAGE ---------- */
#scrollspy-collapsible {padding: 30px 0;}

.scrollspy-example {
    position: relative;
    overflow: auto;
    background-color: rgba(255, 255, 255, .7);
    padding: 0 30px;
    border-radius: 15px;
  }

.scrollspy-menu a {margin-bottom: 15px !important;
    text-decoration: none;
    color: var(--color-4);
    font-weight: 500;
    font-size: 19px;
}

.scrollspy-menu li {margin-bottom: 18px;
    padding-left: 28px;
    display: block;
}

.scrollspy-menu li::before {content: url("../media/arrow-right-short.svg");
    position: absolute;
    margin-top: 2px;
    margin-left: -30px !important;
}

.scrollspy-menu li:focus {border-bottom: red solid 2px !important;}

.float-end {margin: 0 0 30px 30px;}

/* -------- AGENT SEARCH -------- */
#api-data {}

.agent-search {margin-top: 4px}


/* -------- RESPONSIVE -------- */
@media (max-width: 992px) { /* Bootstrap's breakpoint for large screens is 992px */
    .navbar-collapse {
      flex-direction: row;
      justify-content: space-between;
    }
    .navbar-nav {
      flex-direction: row;
    }
    .navbar-nav .nav-item {
      margin-left: 10px;
    }

    .secondary-nav {
        margin-top: 45px;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .hero, .hero-overlay  {height: 48vh !important;}

    .scrollspy-menu li::before {transform: rotate(90deg);
        margin-top: -2px;
    }

    .secondary-nav {margin-top: 45px;}
}

@media (max-width: 768px) {
    .btn-primary {font-size: 16px !important;}

    .hero, .hero-overlay {height: 34vh !important;
        margin-bottom: 50px;
    }

    .hero h1 {font-size: 1.75rem;
        max-width: 250px;
    }

    .hero .lead {font-size: 1.55rem !important;
        margin-bottom: 10px;
    }

    .index-cto {height: 390px}
}

@media (max-width: 576px) {
    .navbar {padding: 12px 0 !important;}

    .navbar-brand {width: 250px !important;}

    main {margin: 20px 0;}

    .btn-primary {font-size: 16px !important;
        padding: 7px 14px !important;
    }

    .hero, .hero-overlay {height: 32vh !important;
        margin-bottom: 50px;
    }

    .hero h1 {font-size: 1.75rem;
        max-width: 250px;
    }

    .hero .lead {font-size: 1.55rem !important;
        margin-bottom: 10px;
    }

    .single-hero, .single-hero-overlay  {height: 22vh;
        margin-bottom: 30px;
    }

    .single-hero h1 {font-size: 2rem;
        max-width: 250px;
    }

    .side-column {padding: 0 20px;}

    .img-cto {height: 320px !important;
        width: 100vw;
    }
    
    .footer-nav li{display: block;}

    .index-cto {height: 320px !important;}
}