:root {
    --color-1: rgba(4, 53, 101, 1); /*primary*/
    --color-2: rgb(228, 237, 238);
    --color-3: rgb(255, 255, 255);
    --color-4: rgb(175, 60, 7);
    --color-5: rgb(110, 4, 13);
    --color-6: rgb(230, 230, 230);
    --bs-nav-link-font-size: 21px;
}

/* -------- ANIMATIONS -------- */
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
  }

/* -------- BASIC -------- */
body {background-image: url("../media/texture.webp")}

p a, table a {color: var(--color-4);
    text-decoration: none;
    font-weight: 700;
}

p, ul, ol, table {font-size: 18px;
    line-height: 150%;
}

img {margin-bottom: 20px;}

main {margin: 100px 0;}

.jumbotron {margin: 50px 0;
    background-color: var(--color-2);
}

.jumbotron2 {height: 40vh;
    margin: 0;
    background-image: url('../media/why-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {font-family: 'Roboto Slab', serif;
    padding: 30px 0 10px;
}

/* -------- BUTTONS -------- */
.btn-primary {background-color: var(--color-4) !important;
    margin: 20px 0 30px;
    padding: 12px 16px !important;
    border: none !important;
    font-family: "Roboto", sans-serif;
    font-size: 18px !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: .5px;
    border-radius: 25px !important;
}

.btn-primary:hover {background-color: var(--color-5) !important;}

.btn-primary a {text-decoration: none;
    color: var(--color-6);
}

.btn-primary a:hover {color: var(--color-3) !important;}

/* -------- NAVIGATION -------- */
.nav-link {font-size: var(--bs-nav-link-font-size);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--color-5)
}

.nav-link:active {color: var(--color-4);}

.navbar-stacked {
    flex-direction: column;
}

.secondary-nav { font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    padding-bottom: 15px;
    margin-left: auto !important;
}

.secondary-nav a {text-decoration: none;
    color: var(--color-4)}

.secondary-nav li {margin-right: 22px;}

.secondary-nav li:nth-child(5) {margin-right: 0;}

/* -------- SIDE COLUMN -------- */
.side-column {height: 580px;
    border: solid 1px var(--color-1);
    border-radius: 18px;
    background-color: var(--color-3);
}

.side-column-list li {margin-bottom: 12px;
    margin-left: -25px;
    list-style-type: none !important;
}

.side-column-list a {text-decoration: none;
    color: var(--color-4);
    font-weight: 500;
}

.side-column-list a:hover {color: var(--color-5)}

/* -------- HOME CAROUSEL -------- */
.home-carousel:after {
    content: "";
    animation: 12s swap infinite;
    animation-timing-function: linear;
    font-weight: 600;
    color: var(--color-1);
    border-bottom: 5px solid var(--color-1);
}

@keyframes swap {
    0% {
        content: "Affordable Healthcare";
    }

    33% {
        content: "Nationwide Coverage";
    }

    66% {
        content: "Friendly Service";
    }

    100% {
        content: "Affordable Healthcare";
    }
}

/*Nationwide coverage. Friendly service.*/

/* -------- PLANS -------- */
.h-link {text-decoration: underline;
    color: var(--color-1);
}

.h-link:hover {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
}
.plans {background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
    border: solid 1px var(--color-2);
}

.plans:hover {background-color: rgba(255, 255, 255, 1);
    transition: 250ms ease-in;
    border: solid 1px var(--color-1);
}

/* -------- AGENT CALL TO ACTION -------- */
.agent-cto {height: 285px;
    border: solid 1px var(--color-1);
    border-radius: 18px;
    background-color: var(--color-3);
}

.footer-nav {padding: 25px 0;}

/* -------- RESPONSIVE -------- */
@media (max-width: 992px) { /* Bootstrap's breakpoint for large screens is 992px */
    .navbar-collapse {
      flex-direction: row;
      justify-content: space-between;
    }
    .navbar-nav {
      flex-direction: row;
    }
    .navbar-nav .nav-item {
      margin-left: 10px;
    }

    .secondary-nav {
        margin-top: 25px;
        flex-direction: column;
    }

    .secondary-nav li {margin: 0 0 10px -22px;}
}

@media (max-width: 576px) {
    main {margin: 30px 0;}    
}