.table {margin-bottom: 50px !important;}

.table thead {background-color: var(--color-2) !important;}

.accordion-button:not(.collapsed) {
    background-color: var(--color-1) !important;
    color: var(--color-2) !important;
    font-size: 24px;
    
}